@require 'nib'

global-reset()

body
  font-size 16px
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif
  background #000

canvas
  width (1080 / 3px)
  height (1920 / 3px)
  margin 0 auto
  display block
  margin-top 1em
